<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.why.dev.mms.sm.dao.RoleMapper">

    <!-- 数据库与JavaBean关系映射 -->
    <resultMap id="BaseResultMap" type="com.why.dev.mms.sm.pojo.Role">
        <id column="ROLE_NAME" property="roleId" jdbcType="VARCHAR"/>
        <result column="ROLE_REMARKS" property="roleRemarks" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 获取所有的集合sql实现 -->
    <select id="findAllRole" resultType="java.lang.String">
        select ROLE_NAME
        from SM_ROLE
        order by ROLE_NAME
    </select>
</mapper>